{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1> Bonjour {% if app.user %} {{ user.username }} {% endif %}</h1>
        </div>
    </div>
</div>
{% endblock %}
